fastapi==0.110.3
starlette==0.37.2
uvicorn[standard]==0.29.0

supabase
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
email-validator==2.1.1

httpx==0.27.0

jinja2==3.1.4
aiofiles==23.2.1
itsdangerous==2.2.0

pytest==8.2.0
pytest-asyncio==0.23.6

gotrue==2.4.2
realtime==1.0.6
storage3==0.7.4